:root {
    --cor-primaria:#F5F5F5;
    --cor-secundaria:#EAF2FD;
    --cor-terciaria: #FFFFFF;
    --cor-de-texto:#464646;
    --cor-botao: #2A7AE4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    font-family: 'Raleway';
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-texto);
}

/*Sessão de Menu*/
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem 0;
}

.menu header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.menu__title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-de-texto);
}

.menu nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-de-texto);
}

.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.menu__list__item__contato {
    font-weight: bold;
}

/*Sessão Título*/
.title {
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 2rem;

}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.title__container {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    gap: 1.5rem;
}

.title__bio {
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--cor-de-texto);
}

.title__subsection {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--cor-de-texto);
}

.title__network {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-de-texto);
    gap: 2rem;
}


/*Sessão Sobre Mim*/
.about {
    background-color: var(--cor-secundaria);
}

.about__container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex;
}

.about__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-de-texto);
}

.about__paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-de-texto);
    padding-right: 24rem;
}

.about__container>img {
    width: 140px;
    height: 52px;
}


/*Sessão de Skills*/
.skills {
    max-width: 1136px;
    margin: 2rem auto 5.5rem auto;
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-de-texto);
    text-align: center;
}

.skills__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.skills__box>ul {
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    justify-content: flex-end;
    padding: 1rem;
}


/*Sessão de Hobbies*/
.hobbies {
    max-width: 1136px;
    margin: 0 auto 5.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hobbies__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-de-texto);
    text-align: center;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.hobbies__box>ul {
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    justify-content: flex-end;
    padding: 1rem;
}


/*Sessão de Histórico Acadêmico*/
.academic {
    background-color: var(--cor-secundaria);
}

.academic__container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.academic__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-de-texto);
    text-align: center;
}

.academic__courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.academic__courses__item__img {
    background-color: var(--cor-terciaria);
    width: 368px;
    height: 286px;
    display: flex;
}

.academic__courses__item__img>img {
    margin: auto;
}

.academic__courses__item__title {
    font-size: 1.365rem;
    font-weight: 700;
    color: var(--cor-de-texto);
}

.academic__courses__item__subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-de-texto);
}


/*Sessão de Experiência Profissional/Projetos*/
.experience {
    max-width: 1136px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience__section__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-de-texto);
    text-align: center;
    margin-bottom: -2rem;
}

.experience__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.experience__box:nth-child(odd) {
    flex-direction: row-reverse;
}

.experience__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experience__title {
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--cor-de-texto);
}

.experience__text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-de-texto);
}

.experience__botao--repo {
    width: 116px;
    height: 51px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-botao);
    color: var(--cor-botao);
    font-size: 1rem;
    font-weight: 400;
}

.experience__botao--demo {
    width: 116px;
    height: 51px;
    background-color: var(--cor-botao);
    border-color: var(--cor-botao);
    color: var(--cor-primaria);
    font-size: 1rem;
    font-weight: 400;
}


/*Sessão de Contato/Formulário*/
.formcontato {
    background-color: var(--cor-secundaria);
}

.formcontato__contacto {
    max-width: 1136px;
    margin: 0 auto;
    padding: 8rem 0;
    display: flex;
    gap: 1rem;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formcontato__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-de-texto);
    margin-bottom: 1rem;
}

.formcontato__subtext {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-de-texto);
}

.formcontato__form {
    margin-top: 1rem;
}

.formcontato__form__input {
    position: relative;
    padding: 0.75rem;
    padding-top: 1.75rem;
    background-color: var(--cor-terciaria);
    border-radius: 0.25rem;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 1rem;
}

.formcontato__form__input input,
.formcontato__form__input textarea {
    all: unset;
    width: 100%;
}

.formcontato__form__input label {
    color: #a2a2a2;
    position: absolute;
    top: 0;
    left: 0.75rem;
    transform: translateY(1.375rem);
    transition: all 0.2s;
}

.formcontato__form__input input:focus+label,
.formcontato__form__input input:not(:placeholder-shown)+label,
.formcontato__form__input textarea:focus+label,
.formcontato__form__input textarea:not(:placeholder-shown)+label {
    font-size: 0.75rem;
    transform: translateY(0.5rem);
}

.formcontato__form__input:focus-within {
    border-bottom: 2px solid var(--cor-botao);
}

.formcontato__form__input:focus-within label {
    color: var(--cor-botao);
}

.formcontato__botao {
    background-color: var(--cor-botao);
    color: var(--cor-terciaria);
    width: 165px;
    height: 51px;
    border-style: none;
}


/*Sessão de Footer*/
.footer {
    background-color: var(--cor-terciaria);
}

.footer__rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-de-texto);
}


/*Responsividade*/
/*Sessão Menu*/
@media (max-width: 1200px) {

    .menu {
        margin: 1rem;
        padding: 0;
    }

    .menu__list {
        display: none;
    }
}

@media (max-width: 767px) {

    .menu {
        margin: 1rem;
        padding: 0;
    }

    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        font-weight: 400;
        font-size: 1rem;
    }
}

/*Sessão Título*/
@media (max-width: 1200px) {
    .title {
        margin: 2rem;
    }

    .title__profile {
        width: 146px;
        height: 146px;
    }

    .title__bio {
        font-size: 1.375rem;
    }

    .title__subsection {
        font-size: 1rem;
    }

    .title__network {
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .title {
        margin: 1rem;

    }

    .title__div {
        flex-direction: column;
        align-items: flex-start;
    }

    .title__profile {
        width: 98px;
        height: 98px;
    }

    .title__container {
        padding: 0;
    }

    .title__bio {
        font-size: 1.375rem;
    }

    .title__subsection {
        font-size: 0.875rem;
    }

    .title__network__item {
        font-size: 0.875rem;
        font-weight: 600;
    }
}

/*Sessão Sobre Mim*/
@media (max-width: 1200px) {

    .about__container {
        margin: 0;
        padding: 2rem;
    }

    .about__title {
        font-size: 1.375rem;
    }

    .about__paragraph {
        font-size: 0.875rem;
        padding: 0;
    }
}

@media (max-width: 767px) {

    .about__container {
        padding: 1rem;
    }

    .about__title {
        font-size: 1.375rem;
    }

    .about__paragraph {
        font-size: 0.875rem;
        padding: 0;
    }
}

/*Sessão de Skills*/
@media (max-width: 1200px) {
    .skills {
        margin: 2rem;
    }

    .skills__title {
        font-size: 1.375rem;
    }

    .skills__line {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        width: 704px;
        margin: 0 auto;
    }


    .skills__box>ul {
        width: 224px;
        height: 118px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .skills {
        margin: 1rem;
    }

    .skills__title {
        font-size: 1.375rem;
    }

    .skills__line {
        flex-wrap: wrap;
        width: 328px;
        margin: 0 auto;
    }

    .skills__box {
        margin-bottom: 1rem;
    }

    .skills__box>ul {
        width: 156px;
        height: 118px;
    }
}

/*Sessão de Hobbies*/
@media (max-width: 1200px) {

    .hobbies {
        margin: 2rem;
        margin-bottom: 0;
    }

    .hobbies__title {
        font-size: 1.375rem;
    }

    .hobbies__line {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        width: 704px;
        margin: 0 auto;
    }

    .hobbies__box>ul {
        width: 224px;
        height: 118px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {

    .hobbies {
        margin: 1rem;
        margin-bottom: 0;
    }

    .hobbies__title {
        font-size: 1.375rem;
    }

    .hobbies__line {
        flex-wrap: wrap;
        width: 328px;
        margin: 0 auto;
    }

    .hobbies__box {
        margin-bottom: 1rem;
    }

    .hobbies__box>ul {
        width: 156px;
        height: 118px;
    }
}

/*Sessão de Histórico Acadêmico*/
@media (max-width: 1200px) {

    .academic__container {
        padding: 2rem;
    }

    .academic__title {
        font-size: 1.375rem;
    }

    .academic__courses {
        margin: 0 auto;
    }

    .academic__courses__item__img {
        width: 224px;
        height: 118px;
    }

    .academic__courses__item__img>img {
        height: 58px;
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: 0.875rem;
    }
}

@media (max-width: 767px) {

    .academic__container {
        padding: 1rem;
    }

    .academic__title {
        font-size: 1.375rem;
    }

    .academic__courses {
        flex-direction: column;
        margin: 0 auto;
    }

    .academic__courses__item__img {
        width: 296px;
        height: 118px;
    }

    .academic__courses__item__img>img {
        height: 58px;
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: 0.875rem;
    }
}

/*Sessão de Experiência/Projetos*/
@media (max-width: 1200px) {

    .experience {
        margin: 0;
        gap: 4rem;
    }

    .experience__section__title {
        font-size: 1.375rem;
    }

    .experience__box {
        flex-direction: column;
    }

    .experience__box:nth-child(odd) {
        flex-direction: column;
    }

    .experience__img {
        width: 704px;
        height: 320px;
    }

    .experience__info {
        width: 704px;
    }

    .experience__title {
        font-size: 1rem;
    }

    .experience__text {
        font-size: 0.875rem;
    }
}

@media (max-width: 767px) {

    .experience {
        padding: 2rem;
    }

    .experience__section__title {
        font-size: 1.375rem;
    }

    .experience__box {
        flex-direction: column;
    }

    .experience__box:nth-child(odd) {
        flex-direction: column;
    }

    .experience__info {
        width: 296px;
    }

    .experience__img {
        width: 296px;
        height: 144px;
    }

    .experience__title {
        font-size: 1rem;
    }

    .experience__text {
        font-size: 0.875rem;
    }
}


/*Sessão de Contato/Formulário*/
@media (max-width: 1200px) {

    .formcontato__contacto {
        padding: 2rem;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__title {
        font-size: 1.375rem;
    }

    .formcontato__subtitle {
        font-size: 1rem;
    }

    .formcontato__botao {
        width: 151px;
        height: 40px;
        font-size: 0.875rem;
    }
}

@media (max-width: 767px) {

    .formcontato__contacto {
        padding: 2rem;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__title {
        font-size: 1.375rem;
    }

    .formcontato__subtext {
        font-size: 1rem;
    }
}



